* {
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background: #FFFFFF;
}

header {
    height: 79px;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 30px 30px 20px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* align-items: flex-end; */
    /* gap: 68px; */
    height: 100%;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.btnH {
    border-top: 2px transparent;
    text-decoration: none;
    color: black;
    height: 35px;
    padding-top: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.btnA {
    border-top: 2px transparent;
    text-decoration: none;
    color: black;
    height: 35px;
    padding-top: 16px;
    flex: none;
    order: 1;
    flex-grow: 0;
    padding-left: 65px;
}

.btnH:hover {
    border-top: 2px #0065FC solid;
    font-size: 16px;
    font-weight: 400;
    row-gap: 30px;
    color: #0065FC;
}

.btnA:hover {
    border-top: 2px #0065FC solid;
    font-size: 16px;
    font-weight: 400;
    row-gap: 30px;
    color: #0065FC;
}

.wrapper-main {
    width: 100%;
}

main {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
}

.headline h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.headline p {
    font-size: 16px;
    font-style: normal;
    line-height: 19px;
    font-weight: 400;
    margin-top: 8px;
}

.search-bar {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;
    /* width: 377px; */
    height: 49px;
    margin-bottom: 35px;
    margin-top: 35px;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
}

.grey-square {
    height: 49px;
    left: 0px;
    top: 0px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.grey-square img {
    height: 48px;
}

.input {
    border: none;
    outline: none;
    color: black;
    height: 21px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    align-items: center;
    font-size: 18px;
}

.btnR button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    height: 49px;
    background: #0065FC;
    color: #ffffff;
    border: 1px solid #0065FC;
    border-radius: 0px 16px 16px 0px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.btnR img{
    display: none;
}

button {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.filter-bar p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.filter-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    padding-bottom: 37.5px;
    gap: 15px;
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
}

.filters{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    /* grid-auto-rows: minmax(100px, auto);
    gap: 30px;
    align-self: stretch;
    width: 100%; */
}

.fa-solid.fa-money-bill-wave {
    color: #0065fc;
    padding: 0;
}

.price {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 19px;
    gap: 10px;
    height: 50px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    font-weight: 700;
    font-size: 17px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.price:hover {
    background: #DEEBFF;
}

.fa-solid.fa-person {
    color: #0065fc;
    padding: 0;
}

.number {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 19px;
    gap: 10px;
    height: 50px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    font-weight: 700;
    font-size: 17px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.number:hover {
    background: #DEEBFF;
}

.fa-solid.fa-heart {
    color: #0065fc;
    padding: 0;
}

.type {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 19px;
    gap: 10px;
    height: 50px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    font-weight: 700;
    font-size: 17px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.type:hover {
    background: #DEEBFF;
}

.fa-solid.fa-fire {
    color: #0065FC;
    padding: 0;
}

.special {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 19px;
    gap: 10px;
    height: 50px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    font-weight: 700;
    font-size: 17px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.special:hover {
    background: #DEEBFF;
}

.info {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    height: 24px;
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
    z-index: 3;
}

.info p {
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 1;
}

.grey-circle {
    box-sizing: border-box;
    position: relative;
    height: 24px;
    left: 0px;
    top: 0px;
    padding-bottom: 5px;
}

.wrapper-cards{
    margin: 35px 50px;
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 40px;
    flex-shrink: 3;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.HbgM {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 30px;
    background: #F2F2F2;
    border-radius: 15px;
    flex: none;
    order: 0;
    align-self: stretch;
}

.HbgM h1 {
    height: 26px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    padding-bottom: 8px;
    margin: 0px;
    color: #000000;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.HbgM h3 {
    height: 21px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    gap: 30px;
    align-self: stretch;
}

.hebergement {
    background: #FFFFFF;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.hebergement img{
    height: 124px;
    /* border: 20px white; */
    /* align-self: start; */
    align-content: stretch;
    width: 100%;
}

.hebergement .texte {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 0px 15px 15px;
    flex: none;
    order: 1;
    flex-grow: 0;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

.hebergement .texte h2 {
    white-space: initial;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 0px;
    color: #000000;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.hebergement .texte p {
    /* height: 16px; */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* padding-bottom: 8px; */
    color: #000000;
    margin: 0px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.icon {
    height: 13.25px;
    padding-right: 4.38px;
}

.fa-solid.fa-star {
    padding: 0px;
    color: #0065FC;
}

#grey-star.fa-solid.fa-star {
    color: #F2F2F2;
}

.stars {
    display: flex;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.pop {
    background: #F2F2F2;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 30px;
    align-self: stretch;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 26px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin: 0px;
    color: #000000;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.fa-solid.fa-chart-line{
    color: #0065FC;
}

.populaire {
    display: grid;
    align-items: flex-start;
    padding: 0px;
    grid-template-columns: 6fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    gap: 30px;
    width: 100%
}

.HbgPopulaires {
    background: #FFFFFF;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex: none;
    order: 1;
    flex-grow: 0;
    border-width: 5px 0px 5px 5px;
    border-style: solid;
    border-color: #FFFFFF;

}

.HbgPopulaires .texte {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 5px 0px 5px 15px;
}

.HbgPopulaires img{
    width: 25%;
    border-radius: 1rem 0 0 1rem;
    height: 144px;
    object-fit: cover;
    width: 123px;
}

.texte .infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 5px 0px 0px;
    gap: 5px;
    flex: none;
    order: 0;
    align-self: stretch;
}

.pop .infos h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    /* flex-wrap: wrap; */
}


.infos h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.container4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 30px;
    padding: 30px;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.container4 h1 {
    height: 30.02px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    padding-bottom: 30px;
    color: #000000;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.lieux {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 30px;
}

.visite {
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.visite img{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.visite .nom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FFFFFF;
    border-radius: 0px 0px 20px 20px;
}

.nom h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding: 20px 19px;
    color: #000000;
}

footer {
    background: #F2F2F2;
    align-self: stretch;
    margin: 0px 50px;
    display: flex;
    justify-content: space-between;
}

.propos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

.propos h1 {
    height: 21px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.propos h2 {
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.propos h3 {
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.propos h4 {
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.hebergements {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.hebergements h1 {
    height: 21px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.hebergements h2 {
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.hebergements h3 {
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.assistance {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 1;
}

.assistance h1 {
    height: 21px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.assistance h2 {
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.assistance h3 {
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.78px;
    color: #000000;
    flex: none;
    order: 2;
    flex-grow: 0;
}

@media (min-width: 1900px) {
    body {
        margin: 0px 230px; 
    } 
}  

@media only screen and (min-width: 1025px) and (max-width:1899px){
.HbgM{
    width: auto;
    align-self: stretch;
    flex: auto;
}



/* .HbgM h1{
    padding-bottom: 0;
} */
.wrapper-places{
    margin: 0 50px;
}
}  

 @media only screen and (min-width: 768px) and (max-width: 1024px) {

.logo{
    align-items: center;
    padding: 30px;
}

nav{
    flex-direction: column;
    align-items: stretch;
}

.btn{
    justify-content: space-evenly;
}

.filter-bar{
    flex-direction: column;
    align-items: stretch;
}

.wrapper-main{
    padding-top: 30px;
}

.cards{
    flex-direction: column;
}

.pop{
 align-self: stretch;
}

/* .wrapper-cards{
    margin: 50px;
} */

.HbgPopulaires img{
    width: 33%;
    height: auto;
    object-fit: cover;
}

.HbgPopulaires .texte{
    padding: 10px 5px 46px 15px;
}

.texte .infos{
    padding: 0px;
}
.populaire{
    grid-template-columns: repeat(3,1fr);
    }

.wrapper-places{
    margin: 50px 50px 0px 50px;
}

.lieux{   
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50px, auto);
    gap: 30px;
}

.visite img{
    height: 200px;
}

.container4{
    padding: 30px 30px 65px 30px;
}

footer{
    margin: 0px 50px;
}
}

@media only screen and (max-width: 767px ) {
header{
    padding: 0;
    flex-direction: column;
}

.logo{
    align-items: center;
    padding: 30px;
}
nav{
    flex-direction: column;
    align-items: stretch;
    }

.wrapper-main{
    padding-top: 30px;
} 

main{    
    margin: 30px;
}

.btn{
    justify-content: space-evenly;
}
.btnA{
    border-bottom: 2px transparent;
}    

.btnH{
    border-bottom: 2px transparent;
}
.btnA:hover{
    border-bottom: 2px #0065FC solid;
    border-top: none;
}

.btnH:hover{
    border-bottom: 2px #0065FC solid;
    border-top: none;
}

.btnR button{
    display: none;
}

.btnR img{
    display: inline;
}

.input{
    width: 100%;
}

.search-bar{
    justify-content: space-between;
}

.filter-bar {
    flex-direction: column;
    align-items: stretch;
}

.filters{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.filter-bar .price {
   font-size: 14px;
}

.filter-bar .number{
    font-size: 14px;
}

.filter-bar .type{
    font-size: 14px;
}

.filter-bar .special{
    font-size: 14px;
}

.info p{
    width: 100%;
}

.wrapper-cards{
    margin: 0;
}
.cards{
    flex-direction: column;
}

.HbgM{
    order: 1;
    padding: 20px;
    background-color: transparent;
}

.HbgPopulaires img{
    height: 146px;
}

.pop{
    order: 0;
    border-radius: 0;
    padding: 20px;
    align-self: stretch;
}
.container{
    grid-template-columns: none;
}

.populaire{
    grid-template-columns: none;
}

.container4{
    align-items: normal;
}
.lieux{
    grid-template-columns: none;
}

.visite img{
    height: 141px;
} 

footer{
    flex-direction: column;
    margin: 0;
}
}
 