body{
font-family: 'Raleway', sans-serif;
margin: 0px;
}

header{
padding: 0px;
}

.a logo{
position: absolute;
width: 61.09px;
height: 19px;
margin-left: 30px;
margin-top: 30px;
background: transparent;
}

nav{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 0px;
margin: 0px 30px;
gap: 68px;
justify-content: space-between;
}

.btn{
padding-top: 30px;
padding-bottom: 30px;
align-items: center;
}

.btnH{
margin-right: 15px;
border-top: 2px transparent;
text-decoration:none;
color: black;
}

.btnA{
border-top: 2px transparent;
text-decoration:none;
color: black;
}

.btnH:hover{
border-top: 2px #0065FC solid ;
font-size: 16px;
font-weight: 400;
row-gap: 30px;
padding-top: 28px;
color: #0065FC;
}

.btnA:hover{
border-top: 2px #0065FC solid ;
font-size: 16px;
font-weight: 400;
row-gap: 30px;
padding-top: 28px;
color: #0065FC;
}

main{
padding-left: 50px;
}

.headline h1{
font-weight: 700;
font-size: 22px;
line-height: 26px;
margin-bottom: 0;
}
.headline h2{
font-size: 16px;
font-style: normal;
line-height: 19px;
font-weight: 400;
margin-top: 8px;
}

.search-bar{

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 24px;

width: 377px;
height: 49px;

/* bordure barre de recherche */

border: 1px solid #F2F2F2;
border-radius: 15px;

/* Inside auto layout */
 
}

div grey-square{
    position: absolute;
    width: 50px;
    height: 49px;
    left: 0px;
    top: 0px;
    
    /* Grey */
    
    background: #F2F2F2;
    /* Grey */
    
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}


form img{
height: 18px;
width: 14px;
left: 18px;
top: 15px;
border-radius: 0px;
}


.search-bar button{
display: flex;
flex-direction: row;
align-items: center;
padding: 15px 16px;
gap: 10px;
width: 132px;
height: 49px;

/* Blue */

background: #0065FC;
/* Blue */

border: 1px solid #0065FC;
border-radius: 0px 15px 15px 0px;

/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;

/* Effets sur la police */
color: #FFFFFF;
font-weight: 700;
font-size: 18px;
line-height: 21px;
}



/* .input{
color: #000000;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
text-align: center;
} */

/* Filter */
.filter-bar{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 0px;
/* margin: 0px 30px; */
gap: 15px;
justify-content: space-between;
}

.fa-solid fa-money-bill-wave{
color: #0065fc;
}

.price{
box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 4px 19px;
gap: 10px;

width: 173px;
height: 50px;
/* Grey/Tint2 */

border: 2px solid #D9D9D9;
border-radius: 25px;
font-weight: 700;
font-size: 17px;
/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.fa-solid fa-person{
color: #0065fc;
}

.number{
box-sizing: border-box;
    
/* Auto layout */
    
display: flex;
flex-direction: row;
align-items: center;
padding: 4px 19px;
gap: 10px;
    
width: 173px;
height: 50px;
    
/* Grey/Tint2 */
    
border: 2px solid #D9D9D9;
border-radius: 25px;
font-weight: 700;
font-size: 17px;
/* Inside auto layout */
    
flex: none;
order: 1;
flex-grow: 0;
}
    
.fa-solid fa-heart{
    color: #0065fc;
}

.type{
box-sizing: border-box;
        
/* Auto layout */
        
display: flex;
flex-direction: row;
align-items: center;
padding: 4px 19px;
gap: 10px;
        
width: 173px;
height: 50px;
        
/* Grey/Tint2 */
        
border: 2px solid #D9D9D9;
border-radius: 25px;
font-weight: 700;
font-size: 17px;

/* Inside auto layout */
        
flex: none;
order: 1;
flex-grow: 0;
}

.fa-solid fa-fire{
color: #0065FC;
}

.special{
box-sizing: border-box;
            
/* Auto layout */
            
display: flex;
flex-direction: row;
align-items: center;
padding: 4px 19px;
gap: 10px;
            
width: 173px;
height: 50px;
            
/* Grey/Tint2 */
            
border: 2px solid #D9D9D9;
border-radius: 25px;
font-weight: 700;
font-size: 17px;
/* Inside auto layout */
            
flex: none;
order: 1;
flex-grow: 0;
}