

* {
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background: #FFFFFF;
    /* height: 100%; */
}

/* Navbar */
header {
    height: 79px;
    padding: 0px 50px;
}

/* New */
.logo {
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 30px 30px 0px;
    gap: 10px;
    left: 0px;
    top: 0px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 30px 30px 0px;
}

nav {
    
    /* display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 25px;
    gap: 68px;
    height: 35px;
    right: 0.31px;
    top: 0px;
    align-items: flex-end; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
}


.btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 68px;
    height: 35px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.btnH {
    margin-right: 15px;
    border-top: 2px transparent;
    text-decoration: none;
    color: black;
    height: 35px;
    padding-top: 16px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    border-top: 2px transparent;
}

.btnA {
    border-top: 2px transparent;
    text-decoration: none;
    color: black;
    height: 35px;
    padding-top: 16px;
    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.btnH:hover {
    border-top: 2px #0065FC solid;
    font-size: 16px;
    font-weight: 400;
    row-gap: 30px;
    color: #0065FC;
}

.btnA:hover {
    border-top: 2px #0065FC solid;
    font-size: 16px;
    font-weight: 400;
    row-gap: 30px;
    color: #0065FC;
}

/* End Navbar*/

/* Filters */

.wrapper-main{
    width: 100%;
}
main{
    display: block;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
}

.headline h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.headline h2 {
    font-size: 16px;
    font-style: normal;
    line-height: 19px;
    font-weight: 400;
    margin-top: 8px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;
    
    width: 377px;
    height: 49px;
    margin-bottom: 35px;
    margin-top: 35px;
    /*bordure barre de recherche */

    border: 1px solid #F2F2F2;
    border-radius: 15px;

    /* Inside auto layout */
}

.grey-square {
  
    height: 49px;
    left: 0px;
    top: 0px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.grey-square img{
    height: 48px;
}
.fa-solid {
    
    height: 18px;
    /* padding-top: 15px;
    padding-left: 18px; */
    color: #0065FC;
}

.input {
    border: none;
    outline: none;
    color: black;
    
    height: 21px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    align-items: center;
    font-size: 18px;
}

.btnR button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    height: 49px;

    /* Blue */

    background: #0065FC;
    /* Blue */
    color: #ffffff;
    border: 1px solid #0065FC;
    border-radius: 0px 16px 16px 0px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
}

.search-bar img{
    visibility: hidden;
}
button {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.filter-bar h1 {
    
    height: 21px;
    
    /* Title/Filter */

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #000000;
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Filter */
.filter-bar {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    padding-bottom: 37.5px;
    gap: 15px;

  
    height: 50px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
}

.fa-solid.fa-money-bill-wave {
    color: #0065fc;
    padding: 0;
}

.price {
    box-sizing: border-box;
    
    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 19px;
    gap: 10px;
    
    
    height: 50px;
    /* Grey/Tint2 */
    
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    font-weight: 700;
    font-size: 17px;
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.price:hover {
    background: #DEEBFF;
}

.fa-solid.fa-person {
    color: #0065fc;
    padding: 0;
}

.number {
    box-sizing: border-box;
    
    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 19px;
    gap: 10px;

   
    height: 50px;

    /* Grey/Tint2 */
    
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    font-weight: 700;
    font-size: 17px;
    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.number:hover {
    background: #DEEBFF;
}

.fa-solid.fa-heart {
    color: #0065fc;
    padding: 0;
}

.type {
    box-sizing: border-box;
    
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 19px;
    gap: 10px;


    height: 50px;

    /* Grey/Tint2 */

    border: 2px solid #D9D9D9;
    border-radius: 25px;
    font-weight: 700;
    font-size: 17px;

    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.type:hover {
    background: #DEEBFF;
}

.fa-solid.fa-fire {
    color: #0065FC;
    padding: 0;
}

.special {
    box-sizing: border-box;
    
    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 19px;
    gap: 10px;

  
    height: 50px;

    /* Grey/Tint2 */

    border: 2px solid #D9D9D9;
    border-radius: 25px;
    font-weight: 700;
    font-size: 17px;
    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.special:hover {
    background: #DEEBFF;
}

/* End filters */

/* Informations */

.info {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;


    height: 24px;
    padding-bottom: 37.5px;
    /* Inside auto layout */
    
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
    z-index: 3;
}

.info p {
    
    height: 19px;
    
    /* Information */

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
}

.grey-circle {
    box-sizing: border-box;

    position: relative;

    height: 24px;
    left: 0px;
    top: 0px;
    /* Grey/Tint2 */
/* 
border: 1px solid #D9D9D9;
    border-radius: 25px; */
    padding-bottom: 5px;
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 40px;
    height: 611.5px;
    /* overflow: clip; */
    flex-shrink: 3;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}


.HbgM {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 30px;

    
    
    
    /* Grey */
    
    background: #F2F2F2;
    border-radius: 15px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    /* flex-grow: 1; */
}

.HbgM h1 {

    height: 26px;
    
    /* Title/Section */

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;

    /* identical to box height */
    
    margin: 0px;
    color: #000000;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.HbgM h3 {
  
    height: 21px;

    /* Title/Filter */
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    
    color: #000000;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}

.container {
    /* display: flex; */
    display: grid;
    /* flex-direction: row;
    align-items: flex-start;
    padding: 0px; */
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    gap: 30px;
    
   
    height: 207.25px;


    /* Inside auto layout */
    
    /* flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0; */
}

.hebergement{
    background: #FFFFFF;
    /* Shadow/Card */

    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}



.hebergement .texte {
    display: flex;
    flex-direction: column;
    align-items: flex-start;


    height: 64.25px;
    

    /* Inside auto layout */
    padding-left: 15px;
    flex: none;
    order: 1;
    /* align-self: stretch; */
    flex-grow: 0;
}

.texte h1 {

    height: 19px;
    white-space: initial;
    /* Card/Title */

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    margin: 0px;
    /* padding-left: 15px; */
    color: #000000;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.texte h2 {

    height: 16px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    
    color: #000000;
    margin: 0px;
    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.texte {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    
    
    height: 64.25px;
    

    /* Inside auto layout */
    padding-left: 15px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.icon {
    /* width: 14.29px; */
    height: 13.25px;
    padding-right: 4.38px;
}

.fa-solid.fa-star {
    padding: 0px;
    /* height: 13.25px;
    width: 14.29px; */
    color: #0065FC;
    /* margin-right: 2.38px; */
}

#grey-star.fa-solid.fa-star {
    color: #F2F2F2;
}

.stars {
    display: flex;
    justify-content: flex-start;
    /* width: 90px; */
    height: 13.25px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.pop {
    background: #F2F2F2;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px ;
    gap: 30px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 26px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin: 0px;
    color: #000000;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.populaire{
    display: grid; 
    align-items: flex-start;
    padding: 0px; 
    grid-template-columns: 6fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    gap: 30px; 
    width: 100%
}

.HbgPopulaires{ 
    background: #FFFFFF; 
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px; 
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0; 
    display: flex;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;  
} 

.HbgPopulaires .texte {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 5px 0px 5px 15px; 
} 

.texte .infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 5px 0px 0px;
    gap: 5px;

    height: 83px;  

    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    /* flex-grow: 1;  */
}   

.infos h1 { 
    /* width: 226px; */
    height: 19px;
    
    /* Card/Title */
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    color: #000000; 


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0; 
}  

.infos h2 { 
    height: 16px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    
    color: #000000; 
    
    
    /* Inside auto layout */

     flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
} 

.container4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 30px;
    height: 559.02px;
    padding: 30px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.container4 h1 {
    
    height: 30.02px;
    
    /* Title/Section */

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    padding-bottom: 30px;
    color: #000000;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    
}

.lieux {
    /* display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px; */

    
    /* height: 439px; */
    
    
    /* Inside auto layout */
    
    /* flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0; */
    display: grid;
    /* flex-direction: row;
    align-items: flex-start;
    padding: 0px; */
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 30px;
    /* padding-top: 30px; */
    
    /* margin-right: 20px; */

}

.visite {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end;
    align-items: center;
    padding: 0px; */
    
    
    /* height: 439px; */
    
    /* Shadow/Card */

    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    /* border-radius: 20px; */

    /* Inside auto layout */

    /* flex: none; */
    /* order: 0;
    flex-grow: 1; */
}


.visite .nom {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    /* padding: 20px 19px;
    gap: 10px; */

   
    height: 59px;

    /* White */

    background: #FFFFFF;
    border-radius: 0px 0px 20px 20px;

    /* Inside auto layout */

    /* flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0; */
}

.nom h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    padding: 20px 19px;
    color: #000000;


    /* Inside auto layout */

    /* flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0; */
}

.footer {
    background: #F2F2F2;

    /* Inside auto layout */
    /* flex: none;
    order: 3; */
    align-self: stretch;
    /* flex-grow: 0; */
    margin: 0px 50px;
    /*choses ajoutées*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.propos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px ;
    gap: 15px;


    /* height: 163px; */


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;

   
}

.propos h1 {

    height: 21px;

    /* Title/Filter */

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.propos h2 {
 
    height: 19px;

    /* Footer/Link */

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.propos h3 {
  
    height: 19px;

    /* Footer/Link */

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    
    color: #000000;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
    
}

.propos h4 {
    
    height: 19px;
    
    /* Footer/Link */
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    
    color: #000000;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 3;
    flex-grow: 0;
}

.hebergements {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;

  

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.hebergements h1 {

    height: 21px;
    
    /* Title/Filter */
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    
    color: #000000;
    

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.hebergements h2 {
    
    height: 19px;
    
    /* Footer/Link */

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: #000000;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.hebergements h3 {
    
    height: 19px;
    
    /* Footer/Link */
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.assistance {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;

   
    /* height: 163px; */


    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 1;
}

.assistance h1 {
   
    height: 21px;

    /* Title/Filter */

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
    
    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.assistance h2 {
    
    height: 19px;
    
    /* Footer/Link */

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: #000000;


    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.assistance h3 {
   
    height: 19px;
    
    /* Footer/Link */
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.78px;
    /* identical to box height */


    color: #000000;
    

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}



@media (min-width: 1900px ) {

body{
    margin: 0px 230px;
    }
}

/* @media (min-width: 1024px ) {
.cards{
    flex-direction: column;
}

.populaire{
    grid-template-columns: repeat(3,1fr);
    }
} */

/* @media (max-width: 375px ) {
nav{
    flex-direction: column;
    }

.btnA{
    border-bottom: 2px transparent;
}    

.btnH{
    border-bottom: 2px transparent;
}
.btnA:hover{
    border-bottom: 2px #0065FC solid;
}

.btnH:hover{
    border-bottom: 2px #0065FC solid;
}
}  */